* {
    font-family: 'Nunito', sans-serif;
    color: #302547;
}

body {
    background-color: #b4b4b5;
}

@media (min-width:300px) {

    /* phones */
    .sidebar {
        padding: 7px 2px 7px 0px;
        text-indent: 25px;
        position: fixed;
        top: 0;
        z-index: 1000;
        display: block;
        overflow-y: hidden;
        overflow-x: auto;
        background-color: #313131;
        color: rgb(215, 53, 215);
        width: 100%;
        font-size: 120%;
    }

    form {
        width: 75%;
    }

    footer {
        p {
            font-size: 90%;
        }
    }

    #me {
        width:60%;
        margin-top: 1.5em;
        margin-bottom: 1em;
        border-radius: 1em;
    }

}

@media (min-width:1025px) {

    /* laptops */
    .sidebar {
        text-indent: 25px;
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 15px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #313131;
        color: rgb(215, 53, 215);
        border-right: 1px solid #e9ebed;
        width: 190px;
        height: 100;
        font-size: 180%;
    }

    .sidebar ul {
        color: rgb(215, 53, 215);
        margin: 0;
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
    }

    footer {
        margin-left: 180px;

        p {
            font-size: 80%;
        }
    }

    main {

        margin-left: 180px;
    }

    form {
        width: 60%;
    }

    #me {
        width:30%;
        margin-top: 1.5em;
        margin-bottom: 1em;
        border-radius: 1em;

    }

}

.col {
    padding: 5px;
}

.card-subtitle {
    align-items: right;
}

a .card:hover {
    font-weight: normal;
}

.card {
    border-radius: 1em;
    background-color: #cbcbcb;
    margin: -1px;

    img {
        border-radius: 1em;
        background-color: #313131;
    }

    a {
        color: #302547;
    }

    .card-body {
        border-radius: 1em;

        background-color: #cbcbcb;

        div,
        h5 {
            text-indent: 0px;
            margin: 0;
            padding: 0;
        }

        div {
            padding-top: 10px;
        }
    }


}

.clickable:hover {
    border-color: #c0c0c1;
    border-width: 3px;
}

h1 {
    padding-top: 30vh;
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.5em;
}

a {
    color: #ab97d4;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #7657b3;
}

.background {
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mtn-background {
    min-height: 100vh;
    background-image: url("../images/backgrounds/mtn.jpg");
}

.road-background {
    background-image: url("../images/backgrounds/road.jpg");
}

.river-background {
    background-image: url("../images/backgrounds/river.jpg");
}

.plane-background {
    background-image: url("../images/backgrounds/plane.jpg");
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertically center the content */
    padding: 3em;
    height: fit-content;
    min-height: 105vh;
    background-color: #b4b4b5;
    color: #302547;
    overflow: inherit;
}

#connect {
    min-height: 0px;
}

p {
    text-align: center;
    margin: auto;
    width: 80%;
    font-size: calc(50% + 1vw);

    a {
        text-decoration: underline;
        color: #302547;
    }

    a:hover {
        text-decoration: underline;
        color: #302547;
    }
}

footer {
    background-color: #9d9d9d;

    p {
        color: rgb(232, 232, 232);
        padding: 5px;

        a {
            color: rgb(200, 200, 200);
            text-decoration: none;
        }
    }
}

form {
    margin: 1.2em 2vw;
    border-radius: 1em;
    padding: 1em;
    background-color: #cbcbcb;

    h5 {
        text-align: center;
        a{
            font-weight:bold;
            color:#231144;
        }
    }
}

.btn {
    background-color: #7657b3;
    border-color: #7657b3;
}

.btn:hover {
    background-color: #ab97d4;
    border-color: #7657b3;

}