summary {
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
}

h4{
    text-align: center;
}



.container{
    margin-top:1em;
    width:80%;
}

.col-sm{
    margin:2em 1em;
}

.col-sm img{
    border-radius:0.8em;
    padding-bottom:2em;
    width:100%;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
}

details div img{
    width:60%;
    padding-left: 5em;
    padding-right: 5em;   
    
}

ul{
    padding-bottom:1em;
    ul{
        padding-bottom:0em;
    }
}

span {
    margin: 1em 3em;
    display:block;
}

details {
    margin:2em 0em;
    background: #e4eaef;
    border-radius: 5px;
    width:90%;

}



